modules = ["nodejs-20", "web"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[[ports]]
localPort = 4000
externalPort = 80

[[ports]]
localPort = 3001
externalPort = 3001

[workflows]
runButton = "Développement avec correctif HMR"

[[workflows.workflow]]
name = "Run"
author = 34914625
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "NODE_OPTIONS=\"--max-old-space-size=4096\" npm run dev -- -p 4000"

[[workflows.workflow]]
name = "Développement stable"
author = 34914625
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "NODE_OPTIONS=\"--max-old-space-size=4096\" npm run dev -- -p 4000"

[[workflows.workflow]]
name = "Développement sans HMR"
author = 34914625
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "NODE_OPTIONS=\"--max-old-space-size=4096\" NEXT_DISABLE_HMR=true npm run dev -- -p 4000"

[[workflows.workflow]]
name = "Développement avec correctif HMR"
author = 34914625
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "NODE_OPTIONS=\"--max-old-space-size=4096\" NEXT_PUBLIC_DISABLE_HMR=false npm run dev -- -p 4000"
